Tipos de datos

In [1]:
a = 10
print(a)

10

In [3]:
print(a)

10

In [4]:
type(a)

int

In [10]:
b = "Hola mundo"
print(b)

Hola mundo

In [11]:
type(b)

str

In [12]:
c = 0.23
print(c)

0.23

In [13]:
type(c)

float

In [14]:
d = "0.23"
print(d)

0.23

In [15]:
type(d)

str

Operaciones Entre Variables

"Relacionales"

In [16]:
verdadero = True

In [18]:
print(verdadero)

True

In [19]:
type(verdadero)

bool

"Ariméticas"

In [20]:
x = 7
print(x)

7

In [23]:
# x = x+2
x += 2
print(x)

13

In [24]:
x +=2
print(x)

15

In [25]:
x -= 2
print(x)

13

In [26]:
x*=3
print(x)

39

In [27]:
x = 3
y = 12

In [28]:
print(x+y)

15

In [29]:
# potencia --> **
print(y**x)

1728

In [31]:
# devolver el resto de una división --> %
x = 13
y = 3

print(x % y)

1

In [32]:
# parte entera
print(x // y)

4

"Relacionales"

In [33]:
x = 13
y = 3

x == y

False

In [34]:
x != y

True

In [35]:
x < y

False

In [36]:
x > y

True

In [37]:
x >= y

True

"Operaciones con Strings"

In [39]:
"Hola " + "Mundo"

'Hola Mundo'

In [41]:
"Ja " *3

'Ja Ja Ja '

"Operaciones Lógicas"

In [43]:
x = 5
y = 12

# AND
print(x>0 and y<10)

False

In [47]:
print(x>0 and y>10) #AND

True

In [48]:
# OR
print(x>0 or y<10)

True

CONVERSIÓN DE TIPOS DE DATOS

In [50]:
a = '2'
b = 2

In [51]:
type(a)

str

In [52]:
type(b)

int

In [59]:
c = int(a)
type(c)

int

In [60]:
print(c)

2

In [57]:
d = '0.24'
e = float(d)
print(e)
type(e)

0.24

float