## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
x = 8
print(x)

8

2) Imprimir el tipo de dato de la constante 8.5

In [1]:
a = 8.5
type(a)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [2]:
x = 8
type(x)

int

4) Crear una variable que contenga tu nombre

In [4]:
nombre1 = 'James'
print(nombre1)

James

5) Crear una variable que contenga un número complejo

In [9]:
f = 7j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [14]:
type(f)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
p = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [7]:
a = 'True'
b = True
# No son lo mismo, por la variable "a" es un string porque lleva comillas y la variable "b" es bool.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [6]:
print(type(a))
print(type(b))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [8]:
s = 5 
s += 3.3
print(s)

8.3

11) Realizar una operación de suma de números complejos

In [13]:
c1 = 8 + 2j
c2 += 6 + 3j
print(c1 + c2)

(14+17j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
f = c2 + 8.4
print(f)

(14.4+15j)

13) Realizar una operación de multiplicación

In [18]:
b = 3
b *= 6
print(b)

18

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
x = 2
x **=8
print(x)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
a = 27
b = 4
print(a / b)

6.75

16) De la división anterior solamente mostrar la parte entera

In [22]:
print(a // b)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [23]:
print(a % b)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
op = 4
print(op * 6 + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [28]:
alfa1 = "Num1 "
alfa2 = "Num2"
print(alfa1 + alfa2)

Num1 Num2

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [33]:
a = "2"
b = 2
# false porque la variable a es string y la variable b es int
a == b

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [41]:
d = int(a)
d == b

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
# porque Python solo entiende como decimal el signo punto "." y no la coma ","

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [45]:
v = 3
v-= 1
print(v)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [2]:
1 << 2
# '''porque se le está indicando que desplace la posicion dos veces a la izquierda, y esa posición representa el 2 y está elevada a la potencia 2, por tanto el resultado es 4'''

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [3]:
2 + '2' # '''porque uno es entero y el otro string. Si son del mismo tipo, no arrojaría el mismo resultado.'''

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [56]:
"Soy exitoso, " *2

'Soy exitoso, Soy exitoso, '